<%- include('header'); -%> 
    <div class="content">
      <form method="GET" action="/api/login">
        <input type="text" name="login" placeholder="login"><br \>
        <input type="text" name="password" placeholder="password"><br \>

        <button type="submit" name="submit">submit</button>
    </form>
    </div>
<%- include('footer'); -%>